.texto-primario{
    color: var (--ion-color-primary) !important;
}

.text-primary{

    color: var (--ion-color-primary) !important;

}
.noticia-more{
    font-size: 25px !important; 
    position: absolute;
    right: -10px;  
    top: -2px;

}

.colorIcono{
    color: grey !important;
}
